*.cproject
*.deb
*.deps*
*.dll
.DS_Store
*.dylib
*.exe
*.iso
*.la
*.libs*
*.lo
*.log
*.moc.cpp
*.nsi
*.o
*.project
*.pyc
*.qm
*.rpm
/*.spec
*.swp
*.tar.gz
*/build/*
*GNU-amd64-Linux*
*deps_installed.txt
*nbproject*
*~
PKGBUILD
cachegrind.out.*
callgrind.out.*
fedora/*.ks
fedora/cache/
main.su
packages/
profile.txt
profiling.txt
src/*.pymap
src/*.wav
src/build-suffix.txt
src/dir_debug
src/gmon.out
src/locale/bin/
src/locale/goo.tranz
src/locale/goo/
src/maintainer.txt
src/portaudio/Makefile
src/portaudio/bin-stamp
src/portaudio/bin/
src/portaudio/bindings/cpp/bin/
src/portaudio/config.status
src/portaudio/lib-stamp
src/portaudio/libtool
src/portaudio/portaudio-2.0.pc
src/stargate/test.wav.finished
src/vendor/pyliblo-0.9.2/build/
src/vendor/sbsms/Makefile
src/vendor/sbsms/cli/sbsms
src/vendor/sbsms/config.status
src/vendor/sbsms/libsbsms.spec
src/vendor/sbsms/libtool
src/vendor/sbsms/sbsms.pc
src/vendor/sbsms/src/Makefile
src/vendor/sbsms/src/config.h
src/vendor/sbsms/src/stamp-h1
stargate*-engine*
tags
tools/*.wav
tools/wavetable_maker/test.txt
tools/wavetable_maker/wavs/*.wav
tools/wavetable_maker/wt.h
tools/wavetable_maker/wtgen
