[submodule "src/vendor/portaudio-binaries"]
	path = src/vendor/portaudio-binaries
	url = https://github.com/spatialaudio/portaudio-binaries.git

[submodule "src/vendor/soundtouch"]
	path = src/vendor/soundtouch
    url = ../stargate-soundtouch.git

[submodule "src/vendor/sbsms"]
	path = src/vendor/sbsms
	url = ../stargate-sbsms.git
