.vs
*.gcda
*.gcno
*.pdb
*.rpm
*.so
*.swp
*.tar.bz2
/tmp/
/test_tmp/*wav*
bench.out
coverage*.html
gmon.out
html/
pahole.txt
profile.txt
rubberband
sbsms
stargate-engine*
stargate-soundstretch
test.wav
test.wav.finished
vgcore*

CMakeCache.txt
CMakeFiles/
cmake_install.cmake

